include LICENCE RELEASE-NOTES AUTHORS
include README.rst
include oregano.conf.sample
include oregano.desktop
include *.py
include oregano-app
include contrib/requirements/requirements.txt
include contrib/requirements/requirements-hw.txt
include contrib/requirements/requirements-binaries.txt
recursive-include oregano *.py
recursive-include oregano_gui *.py
recursive-include oregano_plugins *.py
recursive-include packages *.py
recursive-include packages cacert.pem
include icons.qrc
recursive-include icons *
recursive-include scripts *
