# If you want Oregano to appear in a linux app launcher ("start menu"),
# install this file by doing:
# sudo desktop-file-install oregano.desktop

[Desktop Entry]
Comment=Lightweight Ergon Client
Exec=oregano-app %u
GenericName=Ergon Wallet
Icon=oregano
Name=Oregano
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=Oregano
Terminal=false
Type=Application
MimeType=x-scheme-handler/ergon;x-scheme-handler/cashacct;
Actions=Testnet;

[Desktop Action Testnet]
Exec=oregano-app --testnet %u
Name=Testnet mode
